{% extends "base.html" %}

    {% block title %}<title xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">ONLINE shop</title> {% endblock %}


{% block body %}
<div class="container">
    <div class=""card-deck mb-3 text-center"></div>
    {% for el in data%}
    <div class="card mb-4 shadow-sw">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{el.title}}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{el.price}}<small class="text-muted">рублей</small></h1>
            </ul class="list-unstiled mt-3 mb-4">
                <li>hight quality</li>
            </ul>
<!--            <button type="button" class="btn btn-lg btn-block btn-outline-primary">BUY!!!!!</button>-->
            <a href="/buy/{{ el.id }}" class="btn btn-lg btn-block btn-outline-primary"> КУПИТЬ!!!</a>
        </div>

    </div>
    {% endfor %}
    </div>
{% endblock %}